body{
  margin: 0;
}

/* background Grid property*/
.BgGrid{
  display: flex;
  height: 1500px;
  z-index: 5;
}
.BGgridWidth{
  display: flex;
  justify-content: space-between;
}
.gridWidth{
  margin-left: 50px;
  background: rgba(255,157,157,.3);
  width: 1px;
  height: 100%;
}
.gridWidthYear{
  margin-left: 5px;
  background: rgba(117,255,104,.3);
  width: 2px;
  height: 100%;
  color: rgb(73,151,255);
  font-size: 1rem;
  font-family: 'Rajdhani', sans-serif;
  z-index: 6;
  }
.yearPos{
  position: absolute;
  transform: rotate(90deg);
  top: 5px;
  margin-left: 4px;
  }
.BGgridHeight{
  position: absolute;
  top: 0;

}
.gridHeight{
  margin-top: 50px;
  background: rgba(255,157,157,.3);
  width: 100vw;
  height: 1px;
}

/* -----Animation-------*/

/*animation element sliding from left*/
.aniBlock{
  display: inline-block;
  z-index: 20;
}
/*---inVeiw posistion---*/
/* .nameBlock.core.in-view {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
 } */
 /*
.nameBlock.sa.in-view {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
.nameBlock.married.in-view {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
} */
/*---animation slide left styled---*/

.nameBlock.core{
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 100px;
  height: 100px;
  transition: all 500ms linear;
  float: left;
  background: rgba(13,245,10,.4);
  font-size: 1rem;
  font-family: 'VT323', monospace;
  text-align: center;
  color: rgba(13,245,10,0);
  z-index: 7;
}
/* .nameBlock.sa{
  position: absolute;
  top: 300px;
  left: 107px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  opacity: 0;
  transition: all 500ms linear;
  transform: translate3d(-100px, 0px, 0px);
  float: left;
  background: rgba(13,245,10,.4);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  z-index: 7;
}
.nameBlock.married{
  position: absolute;
  top: 1000px;
  left: 1932px;
  width: 100px;
  height: 100px;
  opacity: 0;
  transition: all 2000ms linear;
  transform: translate3d(-1832px, -1000px, 0px);
  float: left;
  background: rgba(13,245,10,.4);
  z-index: 7;
}
.coordinate{
  position: absolute;
  color: black;
  font-size: 1rem;
  font-family: 'VT323', monospace;
  text-align: center;
  z-index: 7;
}
.One{
  top: 500px;
  left: 281px;
}
.Two{
  top: 900px;
  left: 1888px;
} */

/*---pop-up---*/
.Tip{
  width: 77px;
  background-color: rgba(0,206,255,.7);
  color: #fff;
  font-size: 1rem;
  font-family: 'VT323', monospace;
  text-align: center;
  border-radius: 9px;
  position: absolute;
  top: -50px;
  left: 10px;
  }

/*---hover events---*/
.nameBlock.core:hover{
  color: #fff;
  box-shadow: 0px 0px 30px 10px rgba(255, 152, 0, .7);
}
.nameBlock.:hover .Tip{
  visibility: visible;
  box-shadow: 0px 1px 1px 0px rgba(244, 78, 247, 1);
}
/* .nameBlock.sa:hover{
  box-shadow: 8px 8px 5px 0px rgba(255, 152, 0, .7);
}
.nameBlock.sa:hover .Tip{
  visibility: visible;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}
.nameBlock.married:hover{
  box-shadow: 8px 8px 5px 0px rgba(255, 152, 0, .7);
}
.nameBlock.married:hover .Tip{
  visibility: visible;
  box-shadow: 0px 0px 10px 10px rgba(244, 78, 247, .7);

} */
