body{
	font-style: italic;
}

h1{
	background-color: blue;
	color: white;
	width: 235px;
	font-size: 18px;
}

h2{
	margin-left: 275px;
	position: absolute;
	background-color: blue;
	color: white;
	width: 235px;
	z-index: 25;
}

h3{
	margin-left: auto;
	position: absolute;
	top: 154px;
	right: 0;
	z-index: 20;
	background-color: blue;
	color: white;
	width: 235px;
}



h5{
	margin-left: 770px;
	position: absolute;
	background-color: blue;
	color: white;
	width: 235px;	
	z-index: 10;
}

h6{
	margin-left: 70px;
	background-color: blue;
	color: white;
	width: 235px;	
}

a,p{
	color: blue;
}

.menu{
	position: absolute;
	z-index: 100;
}


#box1{
	position: absolute;
	width: 80px;
	height: 80px;
	background-color: #001dc1;
	top: 0;
	left: 219px;
	z-index: 100;
}

#img1{
	width: 80px;
	height: 80px;
}

#box2{
	position: absolute;
	width: 75px;
	height: 75px;
	background-color: #0f0f69;
	top: 600px;
	right: 0;
}

#img2{
	width: 60px;
	height: 75px;
	margin-left: 8px;
}

#box3{
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: blue;
	top: 550px;
	left: 500px;
}

#img3{
	width: 100px;
	height: 100px;
}

#box4{
	position: absolute;
	width: 195px;
	height: 121px;
	background-color: #3b53ff;
	top: 221px;
	left: 641px;
}

#img4{
	width: 195px;
	height: 121px;
}

#sea{
	margin-left: auto;
	position: absolute;
	top: 23px;
	right: 0;
	/*width: 500px;*/
	z-index: 0;
}

#water{
	position: absolute;
	left: 39px;
	bottom: 35px;
	z-index: 20;
}

