body{
  display: block;
  background-color: blue;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 22px;
}
a{
  text-decoration: none;
  color: white;
}
a:visited{
  color: inherit;
}
p{
  font-family: helvetica;
  margin-left: 1rem;
  font-size: 11vw;
  color: blue;
	-webkit-text-stroke: 1px white;
	-webkit-text-fill-color: blue;
}
.TopNum{
  display: block;
	font-family: helvetica;
	font-size: 2rem;
	text-align: right;
}
#main{
	position: absolute;
	top: 22px;
	left: 15px;
	text-decoration: none;
	color: white;
}
#menu_1{
	top: 22px;
	right: 8rem;
	text-decoration: none;
	color: white;
}
#menu_2{
	top: 22px;
	right: 6rem;
	text-decoration: none;
	color: white;
}
#menu_3{
	top: 22px;
	right: 4rem;
	text-decoration: none;
	color: white;
}
#menu_4{
	top: 22px;
	right: 2rem;
	text-decoration: none;
	color: white;
}

#pattern{
  margin-top: 5rem;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.content{
  font-family: helvetica;
  color: white;
}

table{
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
th{
  width: 30%;
  height: auto;
  padding: 10px;
}
td{
  border: 10px solid blue;
  text-align: center;
  padding: 7px;
  vertical-align: top;
}
#tableTitle{
  height: 35rem;
}
