body{
  display: block;
  background-color: blue;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 22px;
}
a:visited{
  color: inherit;
}
.TopNum{
  display: block;
	font-family: helvetica;
	font-size: 2rem;
	text-align: right;
}

#main{
	position: absolute;
	top: 22px;
	left: 15px;
	text-decoration: none;
	color: white;
}
#menu_1{
	top: 22px;
	right: 8rem;
	text-decoration: none;
	color: white;
}
#menu_2{
	top: 22px;
	right: 6rem;
	text-decoration: none;
	color: white;
}
#menu_3{
	top: 22px;
	right: 4rem;
	text-decoration: none;
	color: white;
}
#menu_4{
	top: 22px;
	right: 2rem;
	text-decoration: none;
	color: white;
}

figure{
  text-align: center;
}
figcaption{
  font-family: helvetica;
  color: white;
  margin-top: 7rem;
  margin-bottom: 3rem;
}
#subtitle{
  margin-top: -60px;
  font-size: 0.7rem;
  font-style: italic;
  font-family: helvetica;
  color: white;
}
