* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Default setting for reset browser. Code starts here!--*/


.headTag{
  width: 200px;
  height: 100px;
  margin-top: 100px;
  margin-left: 30px;
  background-color: yellow;
  /* Rotate div */
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Safari 3-8 */
  transform: rotate(20deg);
  font-family: 'Lobster', cursive;
  text-align: left;
}

.bottomTag{
  text-align: right;
  margin-top: 60px;
}

.bodyHead{
  width: 100%;
  height: 1300px;
  /*background-color: rgb(255, 88, 17);*/
  background: url('source/marrige_BG.jpg') no-repeat; center center;
  background-size: 100% auto;
  font-family: 'Lobster', cursive;
}

.bodyHead h1{
  padding: 30px;
  font-size: 100px;
  color: white;
  text-align: left;
}

.titleNum{
  display: grid;
  height: 60%;
  margin-left: 150px;
  /*border: 2px solid blue;*/
  grid-template: 50% 50% / 15% 15%;
  color: white;
}

.num{
  /*border-radius: 5px;
  border: 2px skyblue solid;*/
  font-size: 30vw;
  text-align: right;
  line-height: 70%;
}

.one{
  margin-left: 120px;
  align-self: flex-end;
}
.two{
  padding-top: 10px;
  padding-left: 5px;

}
.three{
  margin-left: 10px;
  align-self: flex-start;
}
.four{
	position: relative;
  font-size: 35vw;
  padding-bottom: 50px;
  align-self: flex-start;
}

.links{
  font-family: 'Lobster', cursive;
  color: rgb(211, 211, 211);
  text-align: center;
  line-height: 350%;
}

.circle {
  display: block;
	width: 70vw;
	height: 70vw;
	background: rgb(255, 251, 209);
	-moz-border-radius: 35vw;
	-webkit-border-radius: 35vw;
	border-radius: 35vw;
  line-height: 70vw;
  color: white;
  font-size: 30vw;
  text-align: center;
}

.CirOne{
  margin-left: auto;
  margin-top: 70px;
  margin-bottom: 50px;
}
.CirTwo{
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}


.GIF{
  width: 100%;
  height: 1000px;
  /*background-color: rgb(255, 88, 17);*/
  background: url('source/onetofourGIF.gif') no-repeat; center center fixed;
  background-size: 100% auto;
  text-align: center;
  font-family: 'Lobster', cursive;}


.lyricA{
    width: 100%;
    height: 800px;
    background: linear-gradient(rgba(255,255,255,0), rgba(207,255,165,0.8), rgba(255,255,255,0));
    font-family: 'Pacifico', cursive;
    color: rgb(249, 94, 86);
    line-height: 350%;
    font-size: 2rem;
    text-align: center;
  }

  #pac-man {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-right: 1rem solid transparent;
  border-top: 1rem solid #F9F089;
  border-left: 1rem solid #F9F089;
  border-bottom: 1rem solid #F9F089;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}



.lyricB{
  width: 100%;
  height: 400px;
  background-color: #e4fff4;
  font-family: 'Megrim', cursive;
  color: rgb(249, 94, 86);
  line-height: 350%;
  font-size: 2rem;
  text-align: center;
}

.lyricB:hover {
    background-color: #fffde4;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.lyricC{
  margin: 0;
  font-family: sans-serif;
  font-size: 2rem;
  text-align: center;
}

.triangle{
  display: block;
  width: 0;
  height: 0;
  border-left: 25vw solid transparent;
  border-right: 25vw solid transparent;
  border-top: 50vw solid #ffb5b5;
  margin: auto;
  margin-top: 450px;
}


.lyricD{
  margin: auto;
  margin-top: 300px;
  text-align: center;
  font-size: 5rem;

}


.lyricE{
  display: block;
  width: 100%;
  height: 1000px;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  margin: auto;
  margin-top: 100px;
}

.lyricE div{
  margin-top: 200px;
}
