body{
	margin: 50px;

}

h1{
  font-family: 'Londrina Outline', cursive;
  margin-bottom: 50px;

}

h2{
	font-family: 'Monda', sans-serif;

}

p{
	margin-bottom: 70px;

	font-family: 'Monda', sans-serif;

}