/* basic attribute */

body {
  margin:0px;
  padding:0px;
  font-family: 'Noto Sans KR', sans-serif;
}

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  /* font-size: 1.5vw; */
  font-size: 12px;
}

h3{
  font-weight: 400;
}

a:link{
  text-decoration: none;
  color: #000000;
}

a:visited{
  color: #000000;
}

a:hover{
  color: green;
  text-decoration: underline;
}


/* Navigation Bar */

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.spacing{
  margin-top:10px;
  padding-top:8px;
}

.top-resume {
  padding: 5px 12px;
  border: 1px;
  border-style: solid none none none;

}

.NavBar {
  overflow: hidden;
  display: flex;
  background: #FFFFFF;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-size: 0px;
}

#title{
  display: inline-block;
  width: 50%;
  padding: 5px 12px;
  font-size: 12px;
  border: 1px solid black;
  border-style: solid solid solid none;
}

#menu{
  float: left;
  overflow: visible;
  display: inline-block;
  width: 50%;
  padding: 5px 12px;
  font-size: 12px;
  border: 1px solid black;
  border-style: solid none solid none;
}

#menutitle:hover{
  cursor: pointer;
  color: green;
  text-decoration: underline;
}

.menus{
  padding: 5px 12px;
  border: 1px solid black;
  border-style: solid solid none solid;
  background-color: #ffffff;
}

.sub-menu {
  display: none;
  position: absolute;
  left: 50%;
  padding-top: 5px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.show {
    display: block;
}

/* Content attribute */

.content {
  /* box-sizing: border-box; */
  margin:10px;
  padding:8px;
  z-index: 0;
}

.containerMain{
  position: relative;
  display: block;
  text-align: center;
  margin:10px;
  padding:8px;
  padding: 0 5vw;
}

.container{
  position: relative;
  display: block;
  margin:10px;
  padding:8px;
  padding: 5vw 10vw;
}

.BGrow{
  background-color: #cbe8ff;
  padding: 5vw 10vw;
}

.Linerow{
  padding: 5vw 10vw;
  border-style: solid none solid none;
  border-width: 1px;
}

.thumbnailText{
  font-size: 1.5vw;
}

.portfolioRow{
  display: flex;
  justify-content: space-around;
  /* margin-bottom: 3px; */
}

.portfolioRow:after {
  content: "";
  display: flex;
  align-items: stretch
  clear: both;
}


#wrapper{
  position: relative;
  width: 33%;
  height: 22.3vw;
  margin: 2px;
}

#wrapper div{
  position:absolute;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  opacity: 0;
  visibility:hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

#wrapper img{
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
}


#wrapper:hover div{
  opacity: 0.8;
  visibility: visible;
}

#wrapper:hover div p{
  position: relative;
  top: 40%;
  text-align: center;
  color: white;
  visibility: visible;
}

#wrapper:hover div a{
  text-decoration: none;
}


/* Footer attribute */


.footer {
   /* position: fixed; */
   padding-top: 20px;
   bottom: 0;
   background-color: none;
   text-align: right;
}


/* etc */

.end{
  border-style: solid solid solid solid;
}
