body{
  margin: 0;
  width: 2000px;
  height: 1500px;
}

/* background Grid property*/
.BgGrid{
  display: flex;
  height: 1500px;
  z-index: 5;
}
.BGgridWidth{
  display: flex;
  justify-content: space-between;
}
.gridWidth{
  margin-left: 5px;
  background: rgba(13,245,10,.7);
  width: 1px;
  height: 100%;
}
.gridWidthYear{
  margin-left: 5px;
  background: rgba(13,245,10,.7);
  width: 2px;
  height: 100%;
  color: rgb(73,151,255);
  font-size: 1rem;
  font-family: 'Rajdhani', sans-serif;
  z-index: 6;
  }
.yearPos{
  position: absolute;
  top: 5px;
  }
.BGgridHeight{
  position: absolute;
  top: 0;

}
.gridHeight{
  margin-top: 5px;
  background: rgba(13,245,10,.7);
  width: 2130px;
  height: 1px;
}

/* -----Animation-------*/

/*animation element sliding from left*/
.aniBlock{
  display: inline-block;
  z-index: 20;
}
/*---inVeiw posistion---*/
.nameBlock.new.in-view {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
.nameBlock.sa.in-view {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

/*---animation slide left styled---*/
.nameBlock.new{
  position: absolute;
  top: 150px;
  left: 7px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: all 500ms linear;
  transform: translate3d(-100px, 0px, 0px);
  float: left;
  background: rgba(13,245,10,.4);
  z-index: 7;
}
.nameBlock.sa{
  position: absolute;
  top: 300px;
  left: 107px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  opacity: 0;
  transition: all 500ms linear;
  transform: translate3d(-100px, 0px, 0px);
  float: left;
  background: rgba(13,245,10,.4);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  z-index: 7;
}
.married{
  position: absolute;
  top: 466px;
  left: 1483px;
  width: 100px;
  height: 100px;
  opacity: 0;
  transform: translateX(0) rotate(0deg);
  transition: all .75s ease;
  /* float: left; */
  background: rgba(13,245,10,.4);
  z-index: 7;
}
.married.show2 {
  transform: translateX(450px) rotate(720deg);
  opacity: 1;
}

.coordinate{
  position: absolute;
  color: black;
  font-size: 1rem;
  font-family: 'VT323', monospace;
  text-align: center;
  z-index: 7;
}
.Wedding{
  position: absolute;
  color: black;
  font-size: 1rem;
  font-family: 'VT323', monospace;
  text-align: center;
  z-index: 7;
  top:500px;
  left: 1961px;
}
.One{
  top: 500px;
  left: 281px;
}
.Two{
  top: 900px;
  left: 1961px;
}

/*---pop-up---*/
.Tip{
  visibility: hidden;
  width: 77px;
  background-color: rgba(0,206,255,.7);
  color: #fff;
  font-size: 1rem;
  font-family: 'VT323', monospace;
  text-align: center;
  border-radius: 9px;
  position: absolute;
  top: -50px;
  left: 10px;
  }

/*---hover events---*/
.nameBlock.new:hover{
  box-shadow: 0px 0px 30px 10px rgba(255, 152, 0, .7);
}
.nameBlock.new:hover .Tip{
  visibility: visible;
  box-shadow: 0px 1px 1px 0px rgba(244, 78, 247, 1);
}
.nameBlock.sa:hover{
  box-shadow: 8px 8px 5px 0px rgba(255, 152, 0, .7);
}
.nameBlock.sa:hover .Tip{
  visibility: visible;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}
.married:hover{
  box-shadow: 8px 8px 5px 0px rgba(255, 152, 0, .7);
}
.married:hover .Tip{
  visibility: visible;
  box-shadow: 0px 0px 10px 10px rgba(244, 78, 247, .7);

}
